<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Orcfax domain model</title>
		<meta name="description" content="The content on this website is a series of abstractions and descriptions of the Orcfax oracle domain that is used as reference to solve problems related to Orcfax design, maintenance, upgrades, and documentation.">
		<link rel="canonical" href="https://domain.orcfax.io">
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- CSS -->
		<link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="fonts/bootstrap/bootstrap-icons.css">
		<link rel="stylesheet" href="css/main.min.css">
		<link rel="stylesheet" href="vendor/overlay-scroll/OverlayScrollbars.min.css">
	</head>

	<body>

   {{ content | safe }}


   
		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/modernizr.js"></script>
		<script src="js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Apex Charts -->
		<script src="vendor/apex/apexcharts.min.js"></script>
		<script src="vendor/apex/custom/sales/salesGraph.js"></script>
		<script src="vendor/apex/custom/sales/revenueGraph.js"></script>
		<script src="vendor/apex/custom/sales/taskGraph.js"></script>

		<!-- Main Js Required -->
		<script src="js/main.js"></script>

	</body>

</html>